html,body,.mui-content{
	background-color: #f2f2f2;
	font-size: 16px;
	width: 100%;
	height: 100%;
	color: #5f5d5d;
}
/*统一输入框（placeholder）color*/
*::-webkit-input-placeholder {  
    color: #acabab;
}

.mui-table-view-cell .line_20{
	line-height: 20px;
}
.mui-bar .cancle_bg{
	background-color: #fc614d !important;
}
/**间隙*/
.content_clear{
	width: 100%;
	height: .5em;
	background-color: #e8e8e8; 
}
.bg_white{
	background-color: #fff !important;
}
.mui-bar-nav~ .mui-content{
	padding-top: 52px;  
}
/*header与content**/
.mui-bar-nav~ .mui-content .top_header{
	margin-top: 0px;
}
.font16{
	font-size: 16px;
}
.or_color{
	color: #fc614d;
}
.sil_bg{
	background-color: #F7F7F7 !important;
}
/*页面nav*/
.nav_header{
	height: 52px;
	line-height: 52px;
	font-size: 20px;
	text-align: left;
	color: #fff;
	background-color: #26a65b;
	box-shadow: none;
}

.nav_header .header_left_img{  
	width: 34px;
	height: 34px;
	float: left;
	margin: 9px 9px 9px 0; 
}  
.nav_header .header_right_img{
	width: 34px;
	height: 34px;
	float: right;
	margin: 9px 0 9px 9px; 
}
/*foorter nav*/
.mui-bar-footer{
	background-color:#fff;
	height: 64px;
	padding: 0 !important;
	position: fixed;
}
.mui-bar-footer .mui-btn{
	position: static;
	top: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none ;
}
.mui-bar-footer .nav_footer{
	width: 80%;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	color:#fff;
	border: 0;
	background-color: #06495a;  
	margin: 8px auto;  
	margin-left: 10%;
	margin-right: 10%;
	text-align:center;
}
.nav_footer .left_button{
	width: 47%;
	height: 48px;
	text-align: center;
	color: #fff;
	float: left;
	background-color: #06495a;
	border: 0;
}
footer .nav_footer .button_bg_rest{
	background-color: #23A0CF;
}
.nav_footer .right_button{
	width: 47%;
	height: 48px;
	line-height: 48px;
	text-align: center;  
	color: #fff;
	float: right;
	border: 0;
	background-color: #23A0CF;
}
/*三列布局*/
.mui-table-view .mui-table-view-cell{
	height: 50px;
	line-height: 50px;
	
	overflow: hidden;
	padding-top: 0 !important;
	padding-bottom: 0; 
}
.mui-table-view-cell .li_left_title{
	width: 5em;
	height: 50px;
	line-height: 50px; 
	float: left;
	font-size: 1em;
	color: #ff454545;
}
.mui-table-view .li_right_img{
	width: 34px;
	height: 34px;
	margin: 8px 0;
	float: right;
}
.mui-table-view .li_left_img{
	width: 34px;
	height: 34px;
	margin: 8px 8px 8px 0;
	float: left;
}
.mui-table-view .li_input_s{
	margin-right: 42px;
	overflow: hidden;
	height: 50px;
}
.mui-table-view .li_input_sx{
	margin-right: 70px;
	overflow: hidden;
	height: 50px;
}
.mui-table-view .li_input_l{
	height: 50px;
	overflow: hidden;
	color: #5f5d5d;
}

.mui-table-view .mui-table-view-cell input{
	width: 100% ;
	height: 50px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	border: 0;
	color:#5f5d5d;
	opacity: 1;
	font-size: 16px;
}
.mui-table-view .mui-table-view-cell input[disabled]{
	opacity: 1;
	color: black !important;
}
.pay{
	color: #033288;
	} 
.pal{
	color: #0097DC;
}
.li_title_1{
	display: block;
	width: auto;
	height: 20px;
	margin-top: 7px;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;
	color: #9e9e9e;
}
.li_title_2{
	display: block;
	width: auto;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	overflow: hidden;
	color: #ff535353;
}
/*两列布局*/
.li_row_contain {
	width: 100%;
	height: 50px;
	overflow: hidden;
}
.mui-table-view .left_li_half {
	width: 50% !important;
	height: 50px;
	line-height: 50px;
	padding: 0 18px 0 0;
	font-size: 16px;
	border-right: 1px solid #e8e8e8;
	float: left;
}
.mui-table-view .left_li_half > span.mui-pull-left,
.mui-table-view .right_li_half > span.mui-pull-left {
	color: #656363;
}
.mui-table-view .left_li_halfa:after{
	height: 0;
}
.mui-table-view .right_li_half{
	width: 50% !important;
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 18px;
	font-size: 16px;
	float: right;
	border-bottom: 1px solid #e8e8e8;
}  
.mui-table-view .li_half_row{
	line-height: 25px !important;
	text-align: center;
}
/*弹框样式*/
.pop_contain{
	width: 270px;
	height: auto;  
	position: absolute;
	top: 50%; 
/*	margin-top: -20%;*/
	font-size: 16px;
	left: 50%;
	z-index: 999;
	margin-left: -135px;
	border: 1px solid red;
}
.pop_heder{
	width: 100%;
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	padding:0 10px;
	color: #fff;
	position: absolute;
	top: 0;
	border: 1px solid silver;
}

.pop_content{
	width: 100%;
	margin-bottom: 48px;
	overflow: hidden;
}
.pop_footer{
	width: 100%;
	height: 48px;
	position: absolute;
	bottom: 0;
	border: 1px solid green;
}
/*success 提示*/
.sub_log{
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	margin: 30% auto 10% auto;
}
.sub_log img{
	max-width:100% ;
	height: auto;
}
.main_title{
	font-size: 16px;
	color:  #41C275;
	line-height: 52px;
}
.main_title_2{
	font-size: 16px;
	color: #8F8F94;
}
/*蒙层*/
.content_mask{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
	background-color: rgba(0,0,0,.4);
}
/* 等待加载页面内容  */
#loading-mask {
	position: absolute;
	z-index: 998;
	background: #fff; 
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
}
#loading-box {
	position: absolute;
	z-index: 999;
	width: 80px;
	height: 80px;
	left: 50%;
	margin-left: -40px;
	top: 50%;
	margin-top: -40px;
}
#loading-box  img{
	max-width: 100%;
	min-width: 100%; 
}
.fade-out {
	opacity: 0;
	-webkit-transition: all 500ms ease-out;
}

#date-ctrl {
	height: 72px;
}
#date-ctrl .left_li_half {
	height: 72px;
}
#date-ctrl .right_li_half {
	height: 72px;
}
#date-ctrl  .li_title_1,
#date-ctrl  .li_title_2 {
	margin-top: 0;
	height: 36px;
	line-height: 36px;
}
.li_row_contain {
	height: 72px;
}
#date-ctrl .li_title_1 span,
#date-ctrl .li_title_2 span {
	display: block;
}
/*多行布局*/
.l_content{
	border-bottom: 1px solid #e8e8e8;
	line-height: 50px;
	position: relative;
	padding: 10px 15px;
}
.l_left_title{ 
	width: 5em;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
}
.l_right_content{
	overflow: hidden; 
	margin-left: 5em;
	line-height: 30px;
}