body,.mui-content{
	background-color: #fff;
	font-size: 14px;
	width: 100%;
	height: 100%;
}
.mui-table-view-cell .line_20{
	line-height: 20px;
}
footer .mui-bar .cancle_bg{
	background-color: #fc614d;
}
/**间隙*/
.content_clear{
	width: 100%;
	height: .5em;
	background-color: #F7F7F7; 
}
.bg_white{
	background-color: #fff !important;
}
.mui-bar-nav~ .mui-content{
	padding-top: 52px;  
}
/*header与content**/
.mui-bar-nav~ .mui-content .top_header{
	margin-top: 0px;
}
.font16{
	font-size: 16px;
}
.or_color{
	color: #fc614d;
}
.sil_bg{
	background-color: #F7F7F7 !important;
}
/*页面nav*/
.nav_header{
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	text-align: left;
	color: #fff;
	background-color: #44AB6E;
	box-shadow: none;
}

.nav_header .header_left_img{  
	width: 34px;
	height: 34px;
	float: left;
	margin: 9px 9px 9px 0; 
}  
.nav_header .header_right_img{
	width: 34px;
	height: 34px;
	float: right;
	margin: 9px 0 9px 9px; 
}
/*foorter nav*/
.mui-bar-footer{
	background-color:#fff;
	height: 64px;
	padding: 0 !important;
	position: fixed;
}
.mui-bar-footer .mui-btn{
	position: static;
	top: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none ;
}
.mui-bar-footer .nav_footer{
	width: 80%;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	color:#fff;
	border: 0;
	background-color: #06495a;  
	margin: 8px auto;  
	margin-left: 10%;
	margin-right: 10%;
	text-align:center;
}
.nav_footer .left_button{
	width: 47%;
	height: 48px;
	text-align: center;
	color: #fff;
	float: left;
	background-color: #06495a;
	border: 0;
}
footer .nav_footer .button_bg_rest{
	background-color: #23A0CF;
}
.nav_footer .right_button{
	width: 47%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	float: right;
	border: 0;
	background-color: #23A0CF;
}
/*三列布局*/
.mui-table-view .mui-table-view-cell{
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	padding-top: 0 !important;
	padding-bottom: 0; 
}
.mui-table-view-cell .li_left_title{
	width: 7em;
	height: 50px;
	line-height: 50px; 
	float: left;
}
.mui-table-view .li_right_img{
	width: 34px;
	height: 34px;
	margin: 8px 0;
	float: right;
}
.mui-table-view .li_left_img{
	width: 34px;
	height: 34px;
	margin: 8px 8px 8px 0;
	float: left;
}
.mui-table-view .li_input_s{
	margin-right: 42px;
	overflow: hidden;
	height: 50px;
}
.mui-table-view .li_input_l{
	height: 50px;
	overflow: hidden;
}

.mui-table-view .mui-table-view-cell input{
	width: 100% ;
	height: 50px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	border: 0;
	font-size: 14px;
}
.pay{
			color: #033288;
	}
.pal{
	color: #0097DC;
}
.li_title_1{
	width: auto;
	height: 20px;
	margin-top: 10px;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;
}
.li_title_2{
	width: auto;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
	color: #A9A9A9;
}
/*两列布局*/
.li_row_contain{
	width: 100%;
	height: 50px;
	overflow: hidden;
}
.mui-table-view .left_li_half{
	width: 50% !important;
	height: 50px;
	line-height: 50px;
	padding: 0 auto;
	font-size: 14px;
	border-right: 1px solid #c8c7cc;
	float: left;
}
.mui-table-view .left_li_halfa:after{
	height: 0;
}
.mui-table-view .right_li_half{
	width: 50% !important;
	height: 50px;
	line-height: 50px;
	padding: 0 auto;
	font-size: 14px;
	float: right;
	border-bottom: 1px solid #c8c7cc;
}
.mui-table-view .li_half_row{
	line-height: 25px !important;
	text-align: center;
}
/*弹框样式*/
.pop_contain{
	width: 270px;
	height: auto;  
	position: absolute;
	top: 50%; 
/*	margin-top: -20%;*/
	font-size: 14px;
	left: 50%;
	z-index: 999;
	margin-left: -135px;
	border: 1px solid red;
}
.pop_heder{
	width: 100%;
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	padding:0 10px;
	color: #fff;
	position: absolute;
	top: 0;
	border: 1px solid silver;
}

.pop_content{
	width: 100%;
	margin-bottom: 48px;
	overflow: hidden;
}
.pop_footer{
	width: 100%;
	height: 48px;
	position: absolute;
	bottom: 0;
	border: 1px solid green;
}
/*success 提示*/
.sub_log{
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	margin: 30% auto 10% auto;
}
.sub_log img{
	max-width:100% ;
	height: auto;
}
.main_title{
	font-size: 16px;
	color:  #41C275;
	line-height: 52px;
}
.main_title_2{
	font-size: 14px;
	color: #8F8F94;
}
/* 等待加载页面内容  */
#loading-mask {
	position: absolute;
	z-index: 998;
	background: #fff;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
}
#loading-box {
	position: absolute;
	z-index: 999;
	width: 80px;
	height: 80px;
	left: 50%;
	margin-left: -40px;
	top: 50%;
	margin-top: -40px;
}
.fade-out {
	opacity: 0;
	-webkit-transition: all 500ms ease-out;
}
