.mui-grid-view.mui-grid-9 {
	background-color: #fff;
}
.mui-scroll-wrapper {
	top: 52px;
	bottom: 55px;
}
.title-color {
	color: #bec0c2;
}
.name {
	width: 25%;
}
.table-diviver {
	width: 100%;
	height: 7px;
	background-color: #ededeb;
}
.goods-name {
	width: 75%;
}
.value-color {
	color: #dc3e26;
}
.value-size {
	font-size: 1.2 em;
	padding-left: 0.2em;
}
.title-padded {
	padding: 0.5em 0;
}
.title-bottom-padded {
	padding-bottom: 0.3em;
}
.title-weight {
	padding: 0.5em 0.6em;
}
.content-length {
	display: inline-block;
	width: 75%;
}
.title-width {
	display: inline-block;
	width: 25%;
}
.desc-after {
	border-bottom: 1px solid #e8e8e8;
}
.desc-after:after {
	height: 0;
}
.img-box {
	width: 4em;
	height: 4em;
	overflow: hidden;
	position: absolute;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 4em;
}
.porel {
	position: relative;
	width: 100%;
	height: 4em;
}
.img-box:nth-child(1) {
	left: 0%;
}
.img-box:nth-child(2) {
	left: 25%;
}
.img-box:nth-child(3) {
	left: 50%;
}
.img-box:nth-child(4) {
	left: 75%;
}
.mui-icon.mui-icon-plusempty {
	color: #ccc;
}
/* 弹出层 */

#order-mask {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
#order-popup {
	position: absolute;
	width: 300px;
	height: 12em;
	z-index: 1001;
	background: #fff;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -6em;
	display: none;
}
.popup-porel {
	position: relative;
	width: 100%;
	height: 100%;
}
.popup-title {
	padding: 0.8em 0 0 0.7em;
}
.sub-title {
	padding: 0.7em 0 0.7em 1.2em;
}
.button-row {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5em;
}
.popup-body {
	padding: 0.5em 0 0em 1.2em;
}
.plus,
.equal {
	padding: 0.5em 1em 0em 1em;
}
.button-row button {
	border: none;
	width: 50%;
	height: 100%;
	padding: 0;
	border-radius: none;
}
.button-row button:nth-child(1) {
	background-color: #c4e8da;
	color: #029c5d;
}
.button-row button:nth-child(2) {
	background-color: #f6ccc2;
	color: #da2a02;
}
.font-color {
	color: #da2a02;
}
#loading-mask {
	position: absolute;
	z-index: 998;
	background: #fff;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
}
#loading-box {
	position: absolute;
	z-index: 999;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
}
.fade-out {
	opacity: 0;
	-webkit-transition: all 500ms ease-out;
}
#plus-price {
	font-size: 1.4em;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0.1em;
}









=======
#uls li,#ul2 li{
	padding: 0;
	height: 50px;
	line-height: 50px;
}

.addl15mar{
	padding-left: 15px;
}
.addr5mar{
	padding-right: 15px;
}

.paddding0{
	padding: 0;
}
.addlmar{
	margin-left: 15px;
}
.addrmar{
	margin-right: 15px;
}
#uls #tet,#uls #ret{
	height: 70px;
	line-height: 1;;
}
#tet .time,#ret .time{
	font-size: 14px;
	color: #D1D1D1;
	padding-top: 10px;
	height: 30px;
}
#tet .da,#ret .da{
	font-size: 13px;
	color: #D1D1D1;
	padding-top: 10px;
}
.picture{
	margin: 10px;
	width: 70px;
	height: 70px;
}
.marks{
	width: 45%;
	text-align: center;
	background-color: #06495a;
	color: #fff;
}
.cllo{
	text-align: center;
	width: 45%;
	background-color: #23A0CF;
	color: #fff
}
#foot{
	background-color: #fff;
}
#markups{
	
	background-color: #fff;;
	position: absolute;
	top: 50%;
	left: 50%;
	
	padding: 10px 10px 0 10px;
	width: 270px;
	height: 208px;
	margin-left: -135px;
	margin-top: -100px;
	z-index: 1001;
}
.mak-title{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #777777;
}
.mak-worn{
	line-height: 21px;
	font-size: 13px;
	word-break: break-all;
	color: #D1D1D1
}
.borporal{
	border: 1px solid #007AFF;
	width: 100%;
	height: 35px;
	position: relative;
}
.inner{
	position: absolute;
	top: -2px;
	left: -3px;
	right: -2px;
	bottom: 2px;
}
#mar-i{
	text-align: center;
	border: 0;
	outline: 0;
	width: 100%;
	height: 100%;
	color: red;
}

.mak-handle{
	padding-top: 10px;
}
#collect{
	background-color: #23a0cf;
}
.origin,.now{
	width: 50%;
	float: left;
}
.cacu{
	overflow: hidden;
}
.now,.origin{
	padding-top: 10px;
}
>>>>>>> 0694bcd3d905405a976feb0e1758d94229ec5190
