.success-logo {
	padding: 6em 0 1.5em 0;
}
.withdraw-success {
	color: #219b52;
	font-size: 1.7em;
	padding: 0.5em 0;
}
.color {
	color: #ccc;
	padding: 0.2em 0;
}
.button-first,#view-order{
	height: 48px;
	width: 45%;
	color: #FFF;
}
.button-first{
	background-color: #06495a;
}
#view-order{
	background-color: #23a0cf;
}
