/*线条*/
.mui-table-view-cell:after{
	left: 0;  
}
.mui-scroll{
	margin-bottom: 3em;
}
.login_log {
		width: 5em;
		height: 8.5em;
		overflow: hidden;
		margin: 7em auto 3em auto;
		color: #06495A;
		text-align: center;
	}   
	.login_log .big_img {
		width: 5em;
		height: 5em;
		float: left;
		margin-bottom: 0;
	}
	.login_log .small_img {
		width: 5em;
		height: 2.5em;
		margin: 0 auto;
	}
	.li_left_contain{
		width: 75px;
		height: 30px;
		margin: 9px 0;
		border-left: 1px solid #e8e8e8;
		float: right;
	}
	.li_left_contain div{
		width: 75px;
		height: 100%;  
		text-align: right;
		line-height: 30px;
	}
	.container_div{
		width: 50px;
		height: 50px;
		overflow: hidden;
		float: right;
	}
	.login_info {
		width: 90%;
		height: 3em;
		line-height: 3em;
		font-size: 14px;
		color: #A9A9A9;
		margin: 0 auto;
	}
	.login_checkbox{
		margin-right: .5em;  
	    margin-top: 4px;
	    float: left; 
	    overflow: hidden;
    }
    .login_checkbox input{
    	height: 1em;
    	width: 1em;  
    	background-color: #FFF;
    	border-radius: 2px;
    }
    .mui-bar-footer{
    	position: absolute;
    }
	.mui-scroll-wrapper{
		bottom: 64px;
	}
