<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/mysendorder/mysendorder-comment.css"/>
    <script src="../../js/mui.min.js"></script>
    <link rel="stylesheet" href="../../css/mysendorder/list-of-participants.css"/>
</head>
<body style="background: #fff;">
	<header class="mui-bar mui-bar-nav">
		<img src="../../img/left.png" class="mui-action-back mui-pull-left left-icon"/>
		<h1 class="mui-title">list of participants</h1>
	</header>
	<div class="mui-content">
		<div id="scroll-wrapper" class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul id="choose-sender" class="mui-table-view">
					<!--<li class="mui-table-view-cell">
						<div class="img-row mui-pull-left">
							<div class="headimg-box">
								<img src="../../img/u=2205791892,1328528914&fm=21&gp=0.jpg" width="100%"/>
							</div>
						</div>
						<div class="name-box mui-pull-left mui-text-center">
							<div class="deliverer-name mui-text-left mui-ellipsis">Justin Bieber</div>
							<div class="deliverer-honor mui-text-left">
								<span style="color: #faf713;" class="mui-icon mui-icon-starhalf"></span>
								<span class="mui-h5">Adminral</span>
							</div>
						</div>
						<div class="order-send mui-pull-left mui-text-center">
							<p>send</p>
							<div class="send-num">37</div>
						</div>
						<div class="order-reward mui-pull-left mui-text-center">
							<p>reward</p>
							<div class="reward-money">15.0</div>
						</div>
						<div class="button-box mui-pull-left mui-text-center">
							<button class="mui-btn-green mui-btn choose-item" type="button">choose</button>
						</div>
					</li>-->
					
				</ul>
			</div>
		</div>
		
	</div>
	<script src="../../js/template.js"></script>
	<script src="../../js/utils.js"></script>
	<script id="template" type="text/html">
		<!-- 选择按钮上，添加一个属性节点data-senderid -->
		{{each list}}
			<li class="mui-table-view-cell">
				<div class="img-row mui-pull-left">
					<div class="headimg-box" data-uid="{{$value.uid}}">
						{{if $value.headPic == ""}}
							<img alt="headpicture" src="../../img/defualt.png" width="100%"/>
						{{else}}
							<img alt="headpicture" src="http://202.202.43.107:8080{{$value.headPic}}" width="100%"/>
						{{/if}}
					</div>
				</div>
				<div class="name-box mui-pull-left mui-text-center">
					{{if $value.realName == ""}}
						<div class="deliverer-name mui-text-left mui-ellipsis">匿名</div>
					{{else}}
						<div class="deliverer-name mui-text-left mui-ellipsis">{{$value.realName}}</div>
					{{/if}}
					<div class="deliverer-honor mui-text-left">
						<span style="color: #faf713;" class="mui-icon mui-icon-starhalf"></span>
						{{if $value.ptitle == ""}}
							<span class="mui-h5">平民等级</span>
						{{else}}
							<span class="mui-h5">{{$value.ptitle}}</span>
						{{/if}}
					</div>
				</div>
				<div class="order-send mui-pull-left mui-text-center">
					<p>send</p>
					<div class="send-num">{{$value.deliverCount}}</div>
				</div>
				<div class="order-reward mui-pull-left mui-text-center">
					<p>reward</p>
					<div class="reward-money">{{$value.money}}</div>
				</div>
				<div class="button-box mui-pull-left mui-text-center">
					<button data-uid="{{$value.uid}}" class="mui-btn-green mui-btn choose-item" type="button">choose</button>
				</div>
			</li>
		{{/each}}
	</script>
	<script src="../../js/mysendorder/list-of-participants.js"></script>
	
</body>
</html>