<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../../js/mui.min.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mysendorder/my-send-order.css" />
	</head>
	<body>
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div id="link-detail"  class="mui-scroll">
					<div id="pullrefreshs">
						<!-- 等待框 -->
						<div style="position: relative;">
							<div class="waiting-box"></div>
						</div>
					</div>
				</div>
			</div>
		<script src="../../js/template.js"></script>
		<script type="text/html" id="template">
			{{each list}}
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					{{if $value.statusDetail == 11 || $value.statusDetail == 32 || $value.statusDetail == 22 || $value.status == 4}}
					<a href="./get-detail.html" class="detail-page published" data-orderid="{{$value.orderId}}" data-status="{{$value.status}}" data-detail="{{$value.statusDetail}}">
					{{else if $value.statusDetail == 21 || $value.statusDetail == 31}}
						<a href="./get-detail.html" class="detail-page transporting" data-orderid="{{$value.orderId}}" data-status="{{$value.status}}" data-detail="{{$value.statusDetail}}">
					{{else if $value.statusDetail == 12}}
						<a href="./get-detail.html" class="detail-page successed" data-orderid="{{$value.orderId}}" data-status="{{$value.status}}" data-detail="{{$value.statusDetail}}">
					{{else if $value.statusDetail == 13}}
						<a href="./get-detail.html" class="detail-page abandonded" data-orderid="{{$value.orderId}}" data-status="{{$value.status}}" data-detail="{{$value.statusDetail}}">
					{{/if}}
						<div class="goods-name-bar">
							<span class="goods-name mui-pull-left mui-ellipsis">{{$value.gName}}</span>
						</div>
						<div class="goods-content">
							<div class="goods-direction mui-pull-left">
								<div class="goods-bar goods-from-bar mui-ellipsis">
									<span class="goods-from font-color">From</span>
									<span class="goods-msg mui-ellipsis">{{$value.sendAddr}}</span>
								</div>
								<div class="goods-bar goods-to-bar mui-ellipsis">
									<span class="goods-to font-color">To</span>
									<span class="goods-msg mui-ellipsis">{{$value.receiveAddr}}</span>
								</div>
								<div class="goods-bar goods-comment-ba mui-ellipsisr">
									<span class="goods-comment font-color">
										{{$value.statusDetail == 11 ? "发布时间" : $value.statusDetail == 12 ? "接单时间" : $value.statusDetail == 13 ? "发布时间" : 
										$value.statusDetail == 21 ? "付款时间" : $value.statusDetail == 22 ? "取货时间" : $value.statusDetail == 31 ? "签单时间" : $value.statusDetail == 32 ? "评价时间" : "取消时间"}}
									</span>
									<span class="goods-msg red mui-ellipsis">{{$value.time}}</span>
								</div>
							</div>
							<div class="goods-rewards-bar mui-pull-right mui-text-center">
								{{if $value.status == 1}}
									<div class="statusDetail">{{$value.statusDetail == 11 ? "议价中" : $value.statusDetail == 12 ? "待付款" : "接单中"}}</div>
								{{else if $value.status == 2}}
									<div class="statusDetail">{{$value.statusDetail == 21 ? "未取货" : "已取货"}}</div>
								{{else if $value.status == 3}}
									<div class="statusDetail">{{$value.statusDetail == 31 ? "待评价" : "已评价"}}</div>
								{{else}}
									<div class="statusDetail">已取消</div>
								{{/if}}
								<div class="goods-rewards">Reward</div>
								<div class="goods-value mui-ellipsis">{{$value.money}}</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<div class="content-padded"></div>
			{{/each}}
		</script>
		<script src="../../js/utils.js"></script>
		<script src="../../js/mysendorder/my-send-order.js"></script>
	</body>

</html>