.mui-content>.mui-table-view:first-child {margin-top: 0;}
header.mui-bar.mui-bar-nav {background-color: #44ab6e;}
.mui-action-back ,
.mui-icon-bars {color: #fff;}
.mui-title {color: #fff}
.mui-btn.button-first {background-color: #fc9b29;color: #fff;padding: 10px 16%;}
.mui-btn.button-next {background-color: #23a0cf;color: #fff;padding: 10px 16%;}
.mui-btn.mui-btn-block {padding: 10px 0;background-color: #ffa619;color: #fff;}
