
/*apply_info*/
	.bell_title{
		width: 170px;  
		height: 34px; 
		margin: auto;
		line-height: 34px;
		left: 50%;
		color: #F7B56A;
	}
	.bell_title img{
		width: 34px;
		height: 34px;
	}
	.mui-table-view .title_{
		padding: 0;
		background-color: #F6E1CA;
	}
	.ul_mar{
		margin-top: 9px !important;
	}
	.clear_padd{
		padding: 0 10px !important;
	}
	.clear_padd img{
		width: 30%;
		height: 50px;
		margin: 0 auto;
	}
	.pic_two{
		margin-left: 5% !important;
	}
	/*application for deliver*/
	 .mui-table-view-cell .select_sex input{
		height: auto; 
		font-size: 14px; 
		width: 14px;
	}
	.select_sex label{
		color: silver;
	}
	.nation_mark {
		display: none;
		position: absolute;
		z-index: 998;
		background-color: rgba(0, 0, 0, .4);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.spplay_select_type{
		width: 80%;  
		position: absolute;
		z-index: 999;  
		left: 50%;
	    margin-left:-40%;
	    top: 50%;
	    
	    text-align: center;
	    margin-top: -40%;
		color: silver;
		overflow: hidden;
	} 
	.spplay_select_type ul li{
		padding: 0;
		height: 48px;
		font-size: 14px;
		line-height: 48px; 
		color: #000;
	}
	.nation_select{
		width: 70%;
		height: 80%;
		z-index: 999;
		overflow-y: scroll;
		top: 10%;
		left: 50%;
		margin-left: -35%;
		position: absolute;
		background-color: white;
		display: none;
	} 		

	.mui-scroll-wrapper {
		top: 52px;
		bottom: 60px;
	}
	.nation_content {
		width: 100%;
		height: 100%;  
		overflow: hidden;
	}
	.mui-scroll-wrapper {
		top: 52px;
		bottom: 60px;
	}
	.spplay_select_type{
		width: 80%;  
		position: absolute;
		z-index: 999;  
		left: 50%;
	    margin-left:-40%;
	    top: 50%;
	    text-align: center;
	    margin-top: -40%;
		color: silver;
		overflow: hidden;
	} 
	.spplay_select_type ul li{
		padding: 0;
		height: 48px;
		font-size: 14px;
		line-height: 48px; 
		color: #000;
	}
	.apply_idCard{
		overflow: hidden;
		font-size: 14px;
		color: silver;
	}
	.apply_idcard_div{
		width: 88%;
		height: 25%;
		overflow: hidden;
		margin: 4% 5%;  
	}
	.apply_idcard_div .img_div{
		width: 3em;
		height: 4em;
		margin: 4em 0 ;
		text-align: center;
		line-height: 1em;
		float: right;
	}
	.img_div img{
		width: 34px;
		height: 34px;
	}
	.apply_idpho{
		height: 12em;
		overflow: hidden;
		text-align: center;
		margin-right: 3.8em;
		border: 2px solid silver;
	}
	.id_imgcover{
		display: none;
		width: 100%;
		height: 100%;   
	}    
	.apply_idpho .id_img{
		width: 34px;
		height: 34px;
		margin:.2em auto;
	}
	.apply_idpho .text{  
		text-align: justify;
		padding: 0 10px;
	}
	.nation_marb{
		margin-bottom: 6em;
	}
	.nation_marb2{
		margin-bottom: 8em;
	}
	.apply_padding{
			margin: 0 .2em;
		}
	.apply_mark{
		display: none;
		z-index: 998;
		position: absolute;
		background: rgba(0, 0, 0, .5);
		top: 0;
		left: 0;  
		right: 0;
		bottom: 0;
	}
	.apply_popover{
		width: 80%;
		height: 20em;
		position: absolute;
		left:50%;
		margin-left: -40%;
		top:50%; 
		margin-top: -10em;
		overflow: hidden; 
		border: 1px solid white;
	}
	.apply_popover img{
		z-index: 999;
		width: 100%;
		height: 20em;
	}