body .mui-content{
	background-color: #F7F7F7;
} 
.title_info{
	width: 100%;
	height: 48px;
	text-align: center;
	line-height: 48px;
	color: #26A65B;  
	font-size: 16px;
	}
/*apply_info*/
	.bell_title{
		/*display: block;*/
		width: auto;
		height: 48px; 
		margin: auto;
		line-height: 48px;
		left: 50%;
		overflow: hidden;
		color: #5f5d5d;
		text-align: center;
		vertical-align:middle;
	}
	.bell_title img{
		display: inline;
		width: 34px;
		height: 34px;
		margin-right: -20px; 
		margin: 7px auto;
	}
	.mui-table-view .title_{
		padding: 0;
		background-color: #F6E1CA;
	}
	.ul_mar{
		margin-top: 9px !important;
	}
	.clear_padd{
		margin: 10px 10px;
		overflow: hidden;
	}
	.clear_padd img{
		width: 30%;
		height: 80px;
		margin: 0 auto;
	}
	.pic_two{
		margin-left: 5% !important;
	}
	/*application for deliver*/
	 .mui-table-view-cell .select_sex input{
		height: auto; 
		font-size: 14px; 
		width: 14px;
	}
	.select_sex label{
		color: #5f5d5d;
	}
	.mui-scroll-wrapper {
		top: 52px;
	}
	.nation_content {
		width: 100%;
		height: 100%;  
		overflow: hidden;
	}
	.apply_idCard{
		overflow: hidden;
		font-size: 14px;
		color: #5f5d5d;
	}
	.apply_idcard_div{
		width: 90%;
		height: 25%; 
		overflow: hidden;
		margin: 4% 5%;  
	}
	.apply_idcard_div .img_div{
		width: 3em;
		height: 4em;
		margin: 4em 0 ;
		text-align: center;
		line-height: 1em;
		float: right;
	}
	.img_div img{
		width: 34px;
		height: 34px;
	}
	.apply_idpho{
		height: 190px;
		overflow: hidden;
		text-align: center;
		margin-right: 3.8em;
		background-color: #fff; 
		border: 1px solid silver;    
	}
	.apply_idpho p{
		color: #bec0c2;
		font-size: 16px;
	}
	.id_imgcover{
		display: none;
		width: 100%;
		height: 100%;   
	}    
	.apply_idpho .id_img{
		width: 34px;
		height: 34px;
		margin:.2em auto;
	}
	.apply_idpho .text{  
		text-align: justify;
		padding: 0 10px;
	}
	.nation_marb{
		margin-bottom: 6em;
	}
	.nation_marb2{
		margin-bottom: 8em;
	}
	.apply_padding{
			margin: 0 .2em;
		}
	.apply_mark{
		display: none;
		z-index: 998;
		position: absolute;
		background: rgba(0, 0, 0, .5);
		top: 0;
		left: 0;  
		right: 0;
		bottom: 0;
	}
	.apply_popover{
		width: 80%;
		height: 20em;
		position: absolute;
		left:50%;
		margin-left: -40%;
		top:50%; 
		margin-top: -10em;
		overflow: hidden; 
		border: 1px solid white;
	}
	.apply_popover img{
		z-index: 999;
		width: 100%;
		height: 20em;
	}
	/*图片预览*/
	.presee {
		width: 100%;
		height: 100%;
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.presee {
		position: fixed;
		background-color: rgba(0, 0, 0, 1);
	}
	.picwraps{
		width: 100%;
		height: 100%;
	}
	.mui-slider-group{
		height: 100%;
		width: 100%;
	}
	.presee .picwraps .mui-slider {
		width: 80%;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	.presee .mui-slider .mui-slider-item {
		padding: 0 10px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
	.presee .mui-slider .mui-slider-item a {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.presee .mui-slider .mui-slider-item a img {
		position: absolute;
	}
	.mar_bottom{
		width: 100%;
		height: 70px;
	}