body{
	background-color: #fff;
}
.nav_header{
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	text-align: left;
	color: #fff;
	background-color: #44ab6d;
	box-shadow: none;
}
.nav_header .left_img{
	width: 34px;
	height: 34px;
	float: left;
	margin: 9px 9px 9px 0; 
}
.nav_header .right_img{
	width: 34px;
	height: 34px;
	float: right;
	margin: 9px 0 9px 9px; 
}
.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}
header.mui-bar.mui-bar-nav {
	background-color: #44ab6e;
}
.mui-action-back,
.mui-icon-bars {
	color: #fff;
}
.mui-title {
	color: #fff
}
.mui-btn.button-first {
	background-color: #06495a;
	color: #fff;
	padding: 14px 0;
	width: 45%;
}
.mui-btn.button-next {
	background-color: #23A0CF;
	color: #fff;
	padding: 14px 0;
	width: 45%;
}
footer.mui-bar {
	height: 64px;
	padding: 7px 0;
}
footer.mui-bar .mui-btn {
	top: 0;
	border: none;
	outline: none;
	border-radius: 0;
}
.mui-btn.mui-btn-block {
	padding: 14px 0;
	background-color: #06495a;
	color: #fff;
	width: 80%;margin: 0 auto;
}
/* 头部样式  */
footer.mui-bar {
	-webkit-box-shadow : 0 0 1px #40AA53;
	box-shadow : 0 0 1px #40AA53;
	background-color: #fff;
}
.mui-bar {
	height: 52px;
}
.mui-bar .mui-icon {
	padding-top: 14px;
	padding-bottom: 14px;
}
.mui-title {
	line-height: 52px;
	text-align: left;
}
.mui-bar .mui-title {
	left: 52px;
}
.mui-bar-nav~.mui-content {
	padding-top: 52px;
}
div.mui-scroll-wrapper {
	top: 52px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell,
.mui-table-view .mui-table-view-cell {
	min-height: 50px;
	padding: 11px 18px;
}
.title-color {
	color: #ccc;
}
.header-box {
	padding: 15px 10px;
}
.mui-grid-view.mui-grid-9 .header-box .mui-table-view-cell {
	border: none;
}
#last-wrap .img-box {
	width: 4.23em;
	height: 4.23em;
	line-height: 4.23em;
}
#sendmsg.tap-active {
	color: red;
}
#phone.tap-active {
	color: red;
}
<<<<<<< HEAD
.presee {
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.presee {
	position: fixed;
	background-color: rgba(0, 0, 0, 1);
}
.presee .mui-slider {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.presee .mui-slider .mui-slider-item {
	padding: 0 10px;
	height: 100%;
	box-sizing: border-box;
}
.presee .mui-slider .mui-slider-item a {
	height: 100%;
	position: relative;
}
.presee .mui-slider .mui-slider-item a img {
	margin-top: -150px;
	position: absolute;
}
.picwraps {
	position: absolute;
	width: 100%;
	height: 100%;
}
.picture{
	width: 60px;
	height: 60px;
	margin: 10px;
}
=======

header .left-icon {
	width: 34px;
	height: 34px;
	float: left;
	margin: 9px 9px 9px 0;
}
>>>>>>> f831a08af33db32498fe197ca7b5c3574b7d6bad
