.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}
header.mui-bar.mui-bar-nav {
	background-color: #44ab6e;
}
.mui-action-back,
.mui-icon-bars {
	color: #fff;
}
.mui-title {
	color: #fff
}
.mui-btn.button-first {
	background-color: #06495a;
	color: #fff;
	padding: 14px 0;
	width: 45%;
}
.mui-btn.button-next {
	background-color: #23A0CF;
	color: #fff;
	padding: 14px 0;
	width: 45%;
}
footer.mui-bar {
	height: 64px;
	padding: 7px 0;
}
footer.mui-bar .mui-btn {
	top: 0;
	border: none;
	outline: none;
	border-radius: 0;
}
.mui-btn.mui-btn-block {
	padding: 14px 0;
	background-color: #06495a;
	color: #fff;
	width: 90%;margin: 0 auto;
}
/* 头部样式  */
footer.mui-bar {
	-webkit-box-shadow : 0 0 1px #40AA53;
	box-shadow : 0 0 1px #40AA53;
	background-color: #fff;
}
.mui-bar {
	height: 52px;
}
.mui-bar .mui-icon {
	padding-top: 14px;
	padding-bottom: 14px;
}
.mui-title {
	line-height: 52px;
	text-align: left;
}
.mui-bar .mui-title {
	left: 43px;
}
.mui-bar-nav~.mui-content {
	padding-top: 52px;
}
div.mui-scroll-wrapper {
	top: 52px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell,
.mui-table-view .mui-table-view-cell {
	min-height: 50px;
	padding: 11px 18px;
}
.title-color {
	color: #ccc;
}
.header-box {
	padding: 15px 10px;
}
.mui-grid-view.mui-grid-9 .header-box .mui-table-view-cell {
	border: none;
}
#last-wrap .img-box {
	width: 4.23em;
	height: 4.23em;
	line-height: 4.23em;
}
#sendmsg.tap-active {
	color: red;
}
#phone.tap-active {
	color: red;
}
