/* 头部样式  */
.mui-bar {height: 52px;}
.mui-bar .mui-icon {padding-top: 14px;padding-bottom: 14px;}
.mui-title {line-height: 52px;text-align: left;}
.mui-bar .mui-title {left: 43px;}
.mui-bar-nav~.mui-content {padding-top: 52px;}
/*header footer*/
/*页面nav*/
.nav_header{
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	text-align: left;
	color: #fff;
	background-color: #44AB6E;
	box-shadow: none;
}

.nav_header .header_left_img{  
	width: 34px;
	height: 34px;
	float: left;
	margin: 9px 9px 9px 0; 
}  
.nav_header .header_right_img{
	width: 34px;
	height: 34px;
	float: right;
	margin: 9px 0 9px 9px; 
}
/*foorter nav*/
.mui-bar-footer{
	background-color:#fff;
	height: 64px;
	padding: 0 !important;
	position: fixed;
}
.mui-bar-footer .mui-btn{
	position: static;
	top: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none ;
}
.mui-bar-footer .nav_footer{
	width: 80%;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	color:#fff;
	border: 0;
	background-color: #06495a;  
	margin: 8px auto;  
	margin-left: 10%;
	margin-right: 10%;
	text-align:center;
}
.nav_footer .left_button{
	width: 47%;
	height: 48px;
	text-align: center;
	color: #fff;
	float: left;
	background-color: #06495a;
	border: 0;
}
footer .nav_footer .button_bg_rest{
	background-color: #23A0CF;
}
.nav_footer .right_button{
	width: 47%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	float: right;
	border: 0;
	background-color: #fc614d;
}